<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-adsense-account" content="ca-pub-4754745547228636" />

    <title>Admin Dashboard</title>
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="49b2a32b-02e9-4acb-b663-7d8ac2184de1"
    ></script>
  </head>
  <body></body>
</html>
