<div 
  class="lazy-component" 
  data-component="<%= component %>" 
  data-props="<%= encodeURIComponent(JSON.stringify(props || {})) %>"
>
  <div class="animate-pulse bg-gray-200 rounded-lg h-full min-h-[200px]"></div>
</div> 